<ion-app>
  <ion-content>
    <!--texto principal-->
    <h3>Eat Fresh Pizza</h3>
    <p>Our daily fresh pizzas</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card><!--card numero 1-->
           
              <img src="" alt="">
           
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
              <button>ouser new</button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col> <!--card numero 2-->
          <ion-card>
            <ion-card-header>
              <img src="" alt="">
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>