ion-content{
    background-color: white;
}
.primeracard{
    background-color: aqua;
}

button{
    background-color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}